.block_navigation .block_tree .depth_1 > .tree_item.branch {
    padding-left: 0;
    background-image: none;
}

.block_navigation .block_tree .depth_1 > ul {
    margin: 0;
}

.block_navigation .block_tree ul {
    margin-left: 18px;
}

.block_navigation .block_tree p.hasicon {
    text-indent: -21px;
    padding-left: 21px;
}

.block_navigation .block_tree p.hasicon img {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 5px;
    vertical-align: top;
}

.block_navigation .block_tree p.hasicon.visibleifjs {
    display: block;
}

.block_navigation .block_tree .tree_item {
    cursor: pointer;
    padding-left: 0;
    margin: 3px 0;
    background-position: 0 50%;
    background-repeat: no-repeat;
    word-wrap: break-word;
}

.block_navigation .block_tree .tree_item.branch {
    padding-left: 21px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.block_navigation.block_navigation_trimlines-1 .block_tree .tree_item.branch {
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.block_navigation.block_navigation_trimlines-2 .block_tree .tree_item.branch {
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.block_navigation.block_navigation_trimlines-3 .block_tree .tree_item.branch {
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.block_navigation.block_navigation_trimlines-4 .block_tree .tree_item.branch {
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.block_navigation.block_navigation_trimlines-5 .block_tree .tree_item.branch {
    -webkit-line-clamp: 5;
    line-clamp: 5;
}

.block_navigation .block_tree .active_tree_node {
    font-weight: bold;
}

.block_navigation .block_tree [aria-expanded="true"] {
    background-image: url('[[pix:t/expanded]]');
}

.block_navigation .block_tree [aria-expanded="false"] {
    background-image: url('[[pix:t/collapsed]]');
}

.block_navigation .block_tree [aria-expanded="true"].emptybranch {
    background-image: url('[[pix:t/collapsed_empty]]');
}

.block_navigation .block_tree [aria-expanded="false"] p.loading {
    background-image: url('[[pix:i/loading_small]]');
}

/*rtl:raw:
.block_navigation .block_tree [aria-expanded="false"] {background-image: url('[[pix:t/collapsed_rtl]]');}
.block_navigation .block_tree [aria-expanded="true"].emptybranch {background-image: url('[[pix:t/collapsed_empty_rtl]]');}
.block_navigation .block_tree [aria-expanded="false"].loading {background-image: url('[[pix:i/loading_small]]');}
*/

.block_navigation .block_tree [aria-hidden="false"] {
    display: block;
}

.block_navigation .block_tree [aria-hidden="true"]:not(.icon) {
    display: none;
}
